help=
registry=https://artifacthub-phx.oci.oraclecorp.com/api/npm/npmjs-registry/
strict-ssl=false
proxy=http://www-proxy.us.oracle.com:80/
https-proxy=http://www-proxy.us.oracle.com:80/
no-proxy=localhost,127.0.0.1,.us.oracle.com,.oraclecorp.com
